## Семинар 9

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

5.2) Написать  функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [9]:
def multiply(a, b=1, c=1):
    return a*b*c

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

a1 = (15, 10 ,5)

a2 = (3, 1)

a3 = [2, 35, 55]

a4 = (5, 10 ,15, 20)

In [11]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

In [19]:
multiply(*a1)
multiply(*a2)
multiply(*a3)
multiply(*a4[:3])
multiply(*a4[-3:])

3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Создать словарь с функциями и соответствующими им символами операций. Для двух заранее заданных целых чисел (например 25 и 4) выполнить выбранную пользователем арифметическую операцию.

In [1]:
calc_dict = {
    '+': lambda x, y: x + y,
    '-': lambda x, y: x - y,
    '*': lambda x, y: x * y,
    '/': lambda x, y: x // y
}

In [4]:
calc_dict['*'](4,5)

20

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,\*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [5]:
'13 - 5'.split()

['13', '-', '5']

In [6]:
def calc(a):
    a = a.split()
    return calc_dict[a[1]](int(a[0]), int(a[-1]))

In [8]:
calc('13 - 5')

8

5.6.2) Написать калькулятор calc_op(s, oper_d), который принимает параметр s -  строковые выражения вида '<число> <операция> <число>', где <число> - целое число, например 113, <операция> - операция, которая кодируется одной буковой (например: p,m и т.п.); oper_d - словарь операций, в котором каждой из рассматриваемых символов операций сопоставлена функция ее рассчета. 

Пример calc_op('2 s 10', {'s': lambda x,y: x\*\*y }) -> 1024

In [ ]:
calc_op('2 s 10', {'s': lambda x,y: x\*\*y })

5.7) Реализовать функцию которая выводит на экран сообщение вида:

'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'

В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [25]:
def to_text(integer):
    dict1 = {
        1: "Один",
        2: "Два", 
        3: "Три",
        4: "Четыре",
        5: "Пять",
        6: "Шесть",
        7: "Семь",
        8: "Восемь",
        9: "Девять",
    }
    dict0 = {
        11: "Одиннадацать",
        12: "Двенадцать",
        13: "Тринадцать",
        14: "Четырнадцать",
        15: "Пятнадцать",
        16: "Шестьнадцать",
        17: "Семнадцать",
        18: "Восемнадцать",
        19: "Девятнадцать"
    }
    dict0.update(dict1)
    dict2 = {
        0: "Ноль",
        10: "Десять",
        20: "Двадцать",
        30: "Тридцать",
        40: "Сорок",
        50: "Пятьдесят",
        60: "Шестьдесят",
        70: "Семдесят",
        80: "Восемдесят",
        90: "Девяносто",
    }
    if integer%10 == 0:
        return(dict2[integer])
    if integer < 20:
        return dict0[integer]
    return dict2[integer//10*10] + " " + dict1[integer%10]

In [31]:
to_text(17)

'Семнадцать'

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

5.9.2) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. И сообщает об ошибках (выводит на экран описание типа ошибки и возвращает чило -1). 

Пример: to_int('тридцать три') -> 33

Пример: to_int("сто сорок тридцать два сто") -> -1 Вывод: тридцать - некорректное расположение в числе.

5.10) Задан список словарей:

dl = [{'a': 10, 'b': 20, 'c': 1}, {'a': 5, 'b': 10, 'z': 10}, {'a': 3, 'y': 7}]

с помощью анонимной функции отсортировать словари по значению, содержащемуся по ключу 'a'

In [33]:
dl = [{'a': 10, 'b': 20, 'c': 1}, {'a': 5, 'b': 10, 'z': 10}, {'a': 3, 'y': 7}]

In [34]:
sorted(dl, key=lambda x)

TypeError: '<' not supported between instances of 'dict' and 'dict'